# Ignore all
*
# Unignore Makefiles recursively
# !*/Makefile

#Build Directories
[Dd]ebug/
[Rr]elease/

# Unignore c files
!*.c

#Unignore  h files
!*.h

#Unignore md file
!*.md



#Unignore all directory
!*/



# # Atmel studio

# #Build Directories
# [Dd]ebug/
# [Rr]elease/

# #Build Results
# *.o
# *.d
# *.eep
# *.elf
# *.hex
# *.map
# *.srec

# #User Specific Files
# *.atsuo
